body {
  background: papayawhip;
  border: solid 2px blue;
  margin: auto;
  border-radius: 30px
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}
.a{
  background: yellow;
  border: solid 5px;
  text-align: center;
  min-width: 90vw;
  margin: 5px;
  min-height: 10vh;
  flex-grow: 1;
}
.b{
  background: rgb(32, 37, 179);
  border: solid 5px;
  text-align: center;
  min-width: 80vw;
  margin: 5px;
  min-height: 30vh;
  flex-grow: 1;
}
.c{
  background: rgb(213, 213, 180);
  border: solid 5px;
  text-align: center;
  min-width: 15vw;
  margin: 5px;
  min-height: 10vh;
  flex-grow: 1;
}
.d{
  background: rgb(113, 113, 87);
  border: solid 5px;
  text-align: center;
  min-width: 15vw;
  margin: 5px;
  min-height: 10vh;
  flex-grow: 1;
  
}
.e{
  background: rgb(32, 105, 109);
  border: solid 5px;
  text-align: center;
  min-width: 15vw;
  margin: 5px;
  min-height: 10vh;
  flex-grow: 1;
}
.f{
  background: rgb(183, 123, 182);
  border: solid 5px;
  text-align: center;
  min-width: 90vw;
  margin: 5px;
  min-height: 10vh;
  flex-grow: 1.5;
}
@media (min-width: 700px){
  .container{
    display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;

  }
  .a {
    width: 95vw;
  }
  .a{
    order: 1
  }
  .b{
    order:2;
    max-width: 95vw;
    
  }
  .f{
    order: 3;
    min-height: 1vh;
    min-width: 1vw;
    position: relative;
    transform: translate(0px, 115px) scale(1,1.6) 
  }
  .c{
    order:4;
    max-width: 25vw;
    
  }
  .d{
    order:5;
    max-width: 25vw;
    
  }
  .e{
    order:6;
    max-width: 25vw;
    
  }
}












/*.container {
  display: flex;
  position: relative;
  width: 600px;
  height: 800px;
  border: 1px solid;
  padding: 10px;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: space-evenly;

}

.a {
    width: 580px;
    height: 150px;
    border: 1px solid;
    margin: 0 auto;
    background-color: lightcoral;
}

.f {
    width: 580px;
    height: 150px;
    border: 1px solid;
    margin: 0px auto;
    background-color: lightblue;
}

.b {
  width: 580px;
  height: 260px;
  border: 1px solid;
  margin: 0px auto;
  background-color: lightgray
}

.c {
    width: 186px;
    height: 170px;
    border: 1px solid;
    margin: 0px;
    background-color: lightyellow;
}

.d {
    width: 186px;
    height: 170px;
    border: 1px solid;
    background-color: lightsalmon;
}

.e {
    width: 186px;
    height: 170px;
    border: 1px solid;
    background-color: lightcyan;*/